.widget
{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 8px 1px lightgray;
    border-radius: 10px;
    height: 100px;
}
.left, .right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left .title
{
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
}
.left .counter 
{
    font-size: 28px;
    font-weight: 300;
}
.left .link
{
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
}
.right .percentage 
{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.right .percentage.positive
{
    color: green;
}
.right .percentage.negative
{
    color: red;
}
.right .icon
{
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
}